@media all and (min-width: 320px) {

/*body {
	background-color: yellow;
}*/

.container-fluid {
	padding: 0px;
}

p {
	margin: 0px;
}
/* to undo bootstrap css*/

header {
	background-color: #ffffff;
}
header img {
	width: 40%;
	padding: 20px;
	position: relative;

}

.share-button {
	float: right;
	line-height: 80px;
    margin-right: 10px;
}

.share-button p a {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	padding: 5px;
	border: 2px solid;
	color: #00b0d5;
}

.share-button p a:hover {
	text-decoration: none;
	background-color: #00b0d5;
	color: white;
}

.showcase-bottom {
	position: absolute;
	bottom: 0px;
	width: 100%;
}
.border-gradient {
	width: 100%;
	height: 50px;
	background-image:
		linear-gradient(
			transparent, black
			);

}


nav {
	height: 200px;
	display: none;
}

nav ul li {
	border-bottom: 2px solid #72cddc;

}

nav ul li a {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	color: #000000;
	padding: 10px;
	display: block;
	text-align: center;
	text-decoration: none; 
	font-weight: 700;

}

nav ul li a:hover {
	text-decoration: none;
	background-color: #00b0d5;
}


#navBtn {
	width: 40px;
	height: 40px;
	line-height: 40px;
	display: block;
	position: absolute;
	top: 20px;
	left: 45%;
	text-align: center;
	color: #00b0d5;
	border: 2px solid #00b0d5;
}

#navBtn:hover {
	background-color: #00b0d5;
	color: white;
}

/* nav {
	height: 100px;
	background-color: white;
} */

/*-------------------------------showcase image with text overlay-----------------*/
.showcase img {
	width: 100%;
}

.showcase {
	text-align: center;
	position: relative;
}

.textOverlay {
	position: absolute;
	width: 100%;
}

#play-icon-border {
	position: relative;
	text-align: center;
	height: 60px;
	width: 60px;
	border: 2px solid #f6d356;
	border-radius: 50%;
	display: inline-block;
}
.play-icon {
	color: #f6d356;
	font-size: 32px;
	padding-top: 13px;
	padding-left: 8px;
/*	width: 70%;
	height: 70%;
	top: 0;
	left: 0;
	position: absolute;*/
}

.sig-image {
	width: 150px;
	margin-left: auto;
	margin-right: auto;
}


h1 {
	color: white;
	font-family: 'Bitter', serif;
	font-weight: bold;
	font-style: italic;
	font-size: 26px;
}

.showcase p {
	color: white;
	width: 100%;
}

#learnMoreButton {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 12px;
	padding-top: 2%;
}

.fa-chevron-down {
	color: white;
	font-size: 20px;
}

.pagination-link {
	height: 100%;
	display: block;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: grey;
	margin-bottom: 40px;
}

.expand {
	display: none;
}

#learn-more {
	display: none;
}
/*-------------------------------story section-----------------*/

.sort-by {
	height: 80px;
	display: block;
	padding: 20px;
	text-align: center;
}

.sort-by button {
	width: 100px;
	background-color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	border: 1px solid grey;
	border-radius: 0px;
	margin-top: 0px;
}

.storySection h3, h4 {
	text-align: center;
}

.story-grid {
	padding-top: 20px;
}

.story-page p {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin-top: 25px;
}

h3 {
	font-family: 'Bitter', serif;
	font-weight: 600;
	font-size: 22px;
	font-style: italic;
	padding-top: 5%;
/*	padding-bottom: 5%;*/
	text-align: center;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	padding-bottom: 3%;
	width: 60%;
	margin: 0 auto;
}

/*.story {
	text-align: center;
}*/

h5 {
	font-family: 'Bitter', serif;
	font-size: 20px;
	font-weight: 600;
	font-style: italic;
	width: 100%;
}

.storySection p {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
/*	width: 300px;*/
}

.story {
	padding-left: 50px;
	padding-right: 50px;
}

.story img, .story button {
	width: 100%;
}

.story a:hover {
	background-color: #F9E393;	
}

.callToAction img {
	width: 100%;
}

.textOverlay-withButton p {
	text-align: center;
	margin: auto;
}

.read-story-button a {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #f6d356;
	color: black;
	border: none;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

.read-story-button a {
	display: block;
	margin-top: 20px;
	margin-bottom: 80px;
}

p.share-story-button {
	background-color: #f6d356;
	border: none;
	width: 300px;
	margin-top: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

p.share-story-button a {
	color: black;
	text-decoration: none;
}

p.share-story-button:hover {
	background-color: #00b0d5;		
}
/*.textOverlay-withButton button {
	width: 300px;
}*/

.author-box {
	margin-top: 50px;
	margin-bottom: 50px;
	border-top: 1px solid black;
}
.author-box img {
	padding-top: 25px;
}
.author-box h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin-top: 0px;
	text-align: left;
	font-style: normal;

}

.author-box p {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

/*----------------------------about page-----------------------------------*/
h2 {
	color: white;
	font-family: 'Bitter', serif;
	font-weight: bold;
	font-style: italic;
	font-size: 26px;
}

.team h5 {
	margin-bottom: 0px;
}

.textOverlay-other {
	position: absolute;
	top: 40%;
	left: 5%;
}

.about-text {
	padding-top: 40px;
/*	line-height: 25px;*/
}

.about-text p {
	line-height: 32px;
}

p strong {
	background-color: #fee59a;
	padding: 3px;
}

.team img {
	width: 100%;
	padding-top: 12%;
}

.team-member p {
	padding-bottom: 12px;
	padding-top: 2px;
}

.more-about-link a {
	color: #009dc5;
}

.more-about-link a:hover {
	text-decoration: none;
	color: #63dfff;
}

.more-about-link a:visited {
	text-decoration: none;	
}

#quote {
	font-weight: bold;
	font-style: italic;
	font-size: 16px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#blue-bold {
	font-weight: bold;
	color: #009dc5;
	text-decoration: none;
}

#asterick {
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	padding-top: 20px;
}

.other-team-members {
	padding-top: 12%;
}

/*.other-team-members p {
	padding-top: 5%;
}*/

p.title {
	padding-top: 5%;
}

#organization {
	padding-top: 5%;
}

.press-logo {
	text-align: center;
}

.press-story img {
	width: 60%;
}

.press-story {
	margin-top: 10%;
	margin-bottom: 10%;
/*	background-color: pink;*/
	border-bottom: 2px solid grey;
	padding-bottom: 40px;
}

.press-story h5 {
	margin-top: 5%;
}

.press-story p {
	padding-bottom: 5%;
}


/*-------individual bio page--------*/
.contact-group {
	text-align: center;
	padding-top: 40px;
}

.social-links {
/*	background-color: blue;*/
}

.social-links a {
/*	padding: 10px;*/
	display: block;
	color: white;
	border: 2px solid white;
	font-size: 20px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	line-height: 40px;
}

.social-links ul {
	display: inline-block;
	background-color: pink;
}

.social-links ul li {
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

/*
.fb {
	padding: 10px;
	margin-bottom: 10px;

}
*/

/*------------Contact page----------------------------------------*/

.share-heading {
	font-family: 'Bitter', serif;
	font-weight: 600;
	font-size: 22px;
	font-style: italic;
	padding-top: 10%;
	/*padding-bottom: 5%;*/ 
}

.subHeading {
	padding-top: 2%;
	padding-bottom: 5%;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

.disclaimer {
	font-style: italic;
	font-size: 12px;
	padding-bottom: 20px;
	font-family: 'Bitter', serif;
}

.contact-form-area {
	margin: 0 auto;
	position: relative;
	min-height: 800px;
	width: 100%;
}


.contact-form1 h3 {
	text-align: left;
}

form div + div {
	margin-top: 1em;
}

label {
	display: inline-block;
	text-align: right;
	width: 100%;
}

input, textarea {
	font-family: 'Bitter', serif;
	width: 300px;
	padding: 10px;
	border: 1px solid gray;
	font-style: italic;
	color: gray;
	width: 100%;

}


.button {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #f6d356;
	border: none;
	padding: 20px;
	margin-top: 15px;
	margin-bottom: 70px;
	color: black;
	font-style: normal;
	width: 40%;
}

.checkbox-text {
	font-family: 'Bitter', serif;
	font-size: 14px;
	color: #00b0d5;
}

.checkbox {
	display: inline;
	width: 30px;


}
/* --------------------share page -------------------*/
.section {
	padding-bottom: 50px;
	border-bottom:1px solid #ccc;
}

.section-content {
	margin-left:  10%;
	margin-right: 10%;
}
.form-header-group {
	border: none;
}

.share-form-area {
	min-height: 1000px;
	margin: 0 auto;
	position: relative;
	width: 100%;
}

.form-header {
	font-size: 20px;

}

.form-label {
	width: 100%;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
}

.form-checkbox-item {
	width: 100%;
	position: relative;
	margin-bottom: 30px;
}

.form-checkbox {
	width: 20px;
	margin-right: 20px;
	position: absolute;
}

#label_input_9_0 {
	float: left;
	text-align: left;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	font-style:normal;
	position: absolute;
	margin-left: 20px;
	line-height: 22px;
}

#label_input_7_0 {
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	font-style:normal;
	width: 100%;
	margin-left: 10px;
	margin-right: 10px;
}

#label_input_7_0 a {
	font-size: 12px;
}

#label_4, #label_7 {
	font-size: 14px;
}

.qq-upload-button {
    /*background-color: #f6d356;*/
    background: #f6d356 !important;
    color: black;
    border: none;
    width: 300px;
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-style: normal;
    text-shadow: none;
    text-transform: uppercase;
    border-radius: 0px;
}

.qq-upload-button:hover {
    background: #F9E393 !important;      
}



.form-submit-button {
	background-color: #f6d356;
	border: none;
	width: 300px;
	margin-top: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	font-style: normal;
}

.form-submit-button:hover {
	background: #F9E393 !important;
}

.form-textarea {
font-family: 'Open Sans', Arial, sans-serif;	
font-style: normal;
font-size: 12px;
}


#input_15_area {
	width: 100px;
	float: left;
}

.form-sub-lable-container, #input_15_phone {
	width: 50%;
}

.form-sub-label-container {
	width: 100%;
	display: inline-block;
	margin-bottom: 10px;
}

.form-textbox {
	height: 40px;
	font-family: 'Open Sans', Arial, sans-serif;
	font-style: normal;
	font-size: 12px;
	width: 100%;
}

.form-input-wide {
	width: 100%;
}


::-webkit-input-placeholder {
   font-size: 11px;
	width: 200px;
	font-family: 'Open Sans', Arial, sans-serif;
	font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
   font-size: 11px;
	width: 200px;
	font-family: 'Open Sans', Arial, sans-serif; 
	font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-size: 11px;
	width: 200px;
	font-family: 'Open Sans', Arial, sans-serif;  
	font-style: italic;
}

:-ms-input-placeholder {  
   font-size: 11px;
	width: 200px;
	font-family: 'Open Sans', Arial, sans-serif;
	font-style: italic;
}
/*------------resources--------------*/

.resources h3 {
	text-align: left;
}

.resources{
	margin-top: 50px;
	margin-bottom: 50px;
}

/*------------Call to action image and text and button------------*/


.callToAction {
	height: 300px;
	background-image: url("../images/homepage/callToAction.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
	text-align: center;
}

.callToAction h3, .callToAction h4 {
	color: white;
}

.callToAction h3 {
	padding-bottom: 1%;
}

.textOverlay-withButton {
	position: absolute;
	top: 0%;
	width: 100%;
	text-align: center;
}



/* ------------------------------ START FOOTER CSS -----------------------------------*/
footer {
	background-color: #00b0d5;
/*	margin-top: 15px;*/
}
footer p {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	color: #ffffff;
	padding: 20px;
	line-height: 18px;
}

#footer-text {
	border-bottom: solid 1px white;
}

footer div {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #ffffff;
	margin-top: 10px;
}

footer div a {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #ffffff;
}

.social-links {
	padding-bottom: 40px;
}

/*------------disclaimer overlay----------*/

.disclaimer-overlay, .form-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	/*height: 100%;*/
	width: 100%;
   	background-color: #121212;
   	opacity: .92;
}

.disclaimer-overlay-text, .form-overlay-text {
	text-align: center;
	position: fixed;
/*	top: 0;*/
}

.disclaimer-overlay-text, .form-overlay-text p {
	color: white;
}

.continue-button {
	background-color: #f6d356;
	border: none;
	width: 300px;
	margin: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}
.continue-button a {
	color: black;
	font-size: 24px;
}

.continue-button a:hover {
	text-decoration: none;
}

.continue-button:hover {
	background-color: yellow;
}

.return-link a {
	font-style: italic;
}

.return-link a:hover {
	text-decoration: none;
}

}/*--------------------------------------END OF MOBILE STYLE RULES-------------------------------------------------------*/
@media all and (min-width: 700px) {

h1 {
	font-size: 40px;
}

.share-button p a {
	line-height: 115px;
	margin-right: 50px;
}

.textOverlay-other {
	position: absolute;
	top: 60%;
	left: 10%;
}

#organization {
	padding-top: 0;
}

.press-story img {
	width: 100%;
	margin-top: 70px;
}

.story {
	padding-left: 30px;
	padding-right: 30px;
}

/*.textOverlay-withButton {
	position: absolute;
	top: 0%;
	color: white;
	width: 100%;
	text-align: center;
}*/

footer {
/*	position: relative;*/
}

.footer-bottom {
	position: relative;
	height: 100px;
}

.terms-links {
/*	position: absolute;*/
	bottom: 0px;
	left: 0px;
	float: left;
	display: inline-block;
	height: 100px;
	line-height: 100px;
/*	background-color: yellow;*/

}
.social-links {
/*	position: absolute;*/
	bottom: 0px;
	right: 0px;
	display: inline-block;
	float: right;
	height: 100px;
	line-height: 100px;
}


}/*--------------------------------------END OF TABLET STYLE RULES---------------------------------------------------------*/
@media all and (min-width: 960px) {

header img {
	width: 200px;
}

#navBtn {
	display: none;
}

nav {
	float: right;
	display: block;
}

nav ul {
	position: absolute;
	left: 30%;
}

nav ul li {
	display: inline-block;
	border: 0px;
}

nav ul li a {
	line-height: 100px;
}

h1, h2 {
	font-size: 64px;
}

nav {
	height: 100px;
}

p {
	font-size: 18px;
	line-height: 28px;
}

.storySection p {
	line-height: 20px;
}

a {
 	font-size: 18px;
 }

p#quote {
	font-size: 22px;
}

.showcase p {
	font-size: 20px;
	margin-top: 36px;
}

#learn-more {
	display: block;
}

#learnMoreButton {
	font-size: 20px;
	padding-top: 5%;
	padding-bottom: 1%;
}

.fa-chevron-down {
	font-size: 30px;
}

#play-icon-border {
	position: relative;
	text-align: center;
	height: 150px;
	width: 150px;
	border: 2px solid #f6d356;
	border-radius: 50%;
	display: inline-block;
}
.play-icon {
	color: #f6d356;
	font-size: 80px;
	padding-top: 30px;
	padding-left: 15px;
/*	width: 70%;
	height: 70%;
	top: 0;
	left: 0;
	position: absolute;*/
}
.callToAction {
	height: 450px;
}

/*.callToAction button {
	width: 35%;
	font-size: 30px;
}*/

p.share-story-button {
	width: 400px;
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: 40px;
}

p.share-story-button a {
	font-size: 30px;
}

h3 {
	font-size: 40px;
}

h4 {
	font-size: 18px;
	font-weight: 400;
	line-height: 34px;
	width: 50%;
}

.sort-by {
	text-align: right;
}

}/*--------------------------------------end of desktop style rules---------------------------------------------------------*/