@media all and (min-width: 320px) {

/*body {
	background-color: yellow;
}*/

.container-fluid {
	padding: 0px;
}

p {
	margin: 0px;
}
/* to undo bootstrap css*/
header {
	background-color: #ffffff;
}
header img {
	width: 30%;
	padding: 20px;
	position: relative;

}

.border-gradient {
	width: 100%;
	height: 50px;
	background-image:
		linear-gradient(
			transparent, black
			);
	position: relative;
	bottom: 50px;

}
.paper-image {
	position: relative;
	bottom: 50px;
}


nav {
	height: 200px;
	display: none;
}

nav ul li {
	border-bottom: 2px solid #72cddc;

}

nav ul li a {
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 12px;
	color: #000000;
	padding: 10px;
	display: block;
	text-align: center;
	text-decoration: none; 
	font-weight: 700;
	

}

#navBtn {
	width: 40px;
	height: 40px;
	line-height: 40px;
	display: block;
	position: absolute;
	top: 20px;
	left: 80%;
	text-align: center;
	color: #72cddc;
	border: 2px solid #72cddc;
}

/* nav {
	height: 100px;
	background-color: white;
} */

/*-------------------------------showcase image with text overlay-----------------*/
.showcase img {
	width: 100%;
}

.showcase {
	text-align: center;
	position: relative;
}

.showcase img {
	/*position: relative;*/
}

.textOverlay {
	position: absolute;
	width: 100%;
}


h1 {
	color: white;
	font-family: 'Bitter', serif;
	font-weight: bold;
	font-style: italic;
}

p, a {
	font-family: 'Open Sans', sans-serif;
}

a {
	font-weight: bold;
	color: #009dc5;
}

.showcase p {
	color: white;
	width: 100%;
}

#learnMoreButton {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 12px;
	padding-top: 2%;
}

.pagination-link {
	height: 30px;
	display: block;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	color: grey;
	margin-bottom: 20px;
}
/*-------------------------------story section-----------------*/

.sort-by {
	height: 80px;
	display: block;
	padding: 20px;
	text-align: center;
	vertical-align: center;
}
.btn-group{
	line-height: 80px;
}
.sort-by button {
	width: 100px;
	background-color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	border: 1px solid grey;
	border-radius: 0px;
}

.storySection h3, h4 {
	text-align: center;
}

.story-grid {
	padding-top: 20px;
}

h3 {
	font-family: 'Bitter', serif;
	font-weight: 600;
	font-size: 20px;
	font-style: italic;
	padding-top: 5%;
/*	padding-bottom: 5%;*/
	text-align: center;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	padding-bottom: 3%;
	width: 60%;
	margin: 0 auto;
}

/*.story {
	text-align: center;
}*/

h5 {
	font-family: 'Bitter', serif;
	font-size: 22px;
	font-weight: 600;
	font-style: italic;
	width: 300px;
}

.storySection p {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
/*	width: 300px;*/
}

.callToAction img {
	width: 100%;
}

.story {
	padding-left: 50px;
	padding-right: 50px;
}

.story img, .story button {
	width: 100%;
}

button {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #f6d356;
	border: none;
	padding: 20px;
	margin-top: 15px;
	margin-bottom: 70px;
}

/*----------------------------about page-----------------------------------*/
h2 {
	color: white;
	font-family: 'Bitter', serif;
	font-weight: bold;
	font-style: italic;
}

.team h5 {
	margin-bottom: 0px;
}

.textOverlay-other {
	position: absolute;
	top: 40%;
	left: 5%;
}

.about-text {
	padding-top: 40px;
/*	line-height: 25px;*/
}

.about-text p {
	line-height: 32px;
}

p strong {
	background-color: #fee59a;
	padding: 3px;
}

.team img {
	width: 100%;
	padding-top: 12%;
}

#quote {
	font-weight: bold;
	font-style: italic;
	font-size: 16px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#blue-bold {
	font-weight: bold;
	color: #009dc5;
	text-decoration: none;
}

#asterick {
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	padding-top: 20px;
}

.other-team-members {
	padding-top: 12%;
}

.other-team-members p {
	padding-top: 5%;
}

.press-section img {
	width: 50%;
}

.press-story {
	padding-top: 20px;
}

.press-section .press-story {
	border-bottom: 2px solid grey;
	padding-bottom: 20px;
}

/*-------individual bio page--------*/
.contact-group {
	text-align: center;
	padding-top: 40px;
}

.fa-facebook, .fa-twitter, .fa-instagram {
	padding: 10px;
	color: white;
	background-color: black;
	font-size: 20px;
	border-radius: 50%;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

/*------------Contact page----------------------------------------*/


.sub-heading {
	font-size: 16px;
	padding-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
}

.disclaimer {
	font-style: italic;
	font-size: 12px;
	padding-bottom: 20px;
	font-family: 'Bitter', serif;
}

.form-area {
	margin: 0 auto;
	margin-left: 5%;
	margin-right: 5%;
	position: relative;
	min-height: 800px;
}




form-area {
	margin: 0 auto;
	width: 100%;

}

form div + div {
	margin-top: 1em;
}

label {
	display: inline-block;
	text-align: right;
	width: 100%;
}

input, textarea {
	font-family: 'Bitter', serif;
	width: 300px;
	padding: 10px;
	border: 1px solid gray;
	font-style: italic;
	color: gray;
	width: 100%;

}


.button {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #f6d356;
	border: none;
	padding: 20px;
	margin-top: 15px;
	margin-bottom: 70px;
	color: black;
	font-style: normal;
	width: 40%;
}

.checkbox-text {
	font-family: 'Bitter', serif;
	font-size: 14px;
	color: #00b0d5;
}

.checkbox {
	display: inline;
	width: 30px;

}
/* --------------------share page -------------------*/

.form-area {
	min-height: 1000px;
}

.form1, .form2 {
	padding: px;
	border-bottom: 1px solid gray;
	padding: 20px;

}

.form2 input {
	display: inline;
	width: 30px;
}

/*------------Call to action image and text and button------------*/


.callToAction {
	height: 300px;
	background-image: url("../images/homepage/callToAction.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
	text-align: center;
}

.callToAction h3, .callToAction h4 {
	color: white;
}

.callToAction h3 {
	padding-bottom: 1%;
}

.textOverlay-withButton {
	position: absolute;
	top: 0%;
	width: 100%;
	text-align: center;
}

/*.callToAction button {
	width: 80%;
}*/

/*
.textOverlay-withoutButton h3 {
	margin-top: 0px;
}

.textOverlay-withoutButton h4 {
	width: 70%;
}

.textOverlay-withButton button {
	width: 334px;
}*/



/* ------------------------------ START FOOTER CSS -----------------------------------*/
footer {
	background-color: #00b0d5;
}
footer p {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	color: #ffffff;
	text-align: center;
	padding: 20px;
	border-bottom: solid 1px;
}

}/*--------------------------------------END OF MOBILE STYLE RULES-------------------------------------------------------*/
@media all and (min-width: 700px) {

header img {
	width: 200px;
}

#navBtn {
	display: none;
}

nav {
	float: right;
	display: block;
}

nav ul {
	position: absolute;
	left: 30%;
}

nav ul li {
	display: inline-block;
	border: 0px;
}

nav ul li a {
	line-height: 100px;
}

.textOverlay-other {
	position: absolute;
	top: 60%;
	left: 10%;
}

/*.textOverlay-withButton {
	position: absolute;
	top: 0%;
	color: white;
	width: 100%;
	text-align: center;
}*/


}/*--------------------------------------END OF TABLET STYLE RULES---------------------------------------------------------*/
@media all and (min-width: 960px) {
h1, h2 {
	font-size: 64px;
}

nav {
	height: 100px;
}

p {
	font-size: 18px;
	line-height: 28px;
}

.storySection p {
	line-height: 20px;
}

a {
 	font-size: 18px;
 }

p#quote {
	font-size: 22px;
}

.showcase p {
	font-size: 20px;
	margin-top: 36px;
}

#learnMoreButton {
	font-size: 20px;
	padding-top: 5%;
}

.callToAction {
	height: 450px;
}

.callToAction button {
	width: 35%;
	font-size: 30px;
}

h3 {
	font-size: 40px;
}

h4 {
	font-size: 18px;
	font-weight: 400;
	line-height: 34px;
	width: 50%;
}
.sort-by {
	text-align: right;
}

}/*--------------------------------------end of desktop style rules---------------------------------------------------------*/